// Styling for the horizontally scrolling clients section
#scrolling-clients {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;

  .clients__cell {
    flex: 0 0 auto;
  }
}

