// Team section
#team {
  // Consistent section padding
  padding: $space-7 0;
  
  // Mobile responsive
  @media (max-width: 767px) {
    padding: $space-6 0;
  }

  // Social contact icons
  ul.social-buttons {
    margin-bottom: 0;
    
    li {
      a {
        font-size: 20px;
        line-height: 50px;
        display: block;
        width: 50px;
        height: 50px;
        transition: all $transition-base;
        color: $white;
        border-radius: 100%;
        outline: none;
        background-color: $color-danger;

        &:active,
        &:focus,
        &:hover {
          background-color: $brand-primary;
        }
      }
    }
  }
}

.highlight {
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
}
